# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/

# env — NIGDY nie commituj kluczy
.env
.env.local
.env.*.local

# debug
npm-debug.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
supabase/.temp/
